:root{
	/*  colors */
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #282623;
	--black: #201e1c;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff;

	/* fonts */
	--Dmsans: "DM Sans", sans-serif;
	--inter: "Inter", sans-serif;
}

* { padding:0; margin: 0; box-sizing: border-box; text-decoration: none; }

body {
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
	background-color: rgb(245,245,245);
}

.header{
	width: 100%;
	min-width: 320px;
	height: 340px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
	background: rgb(32,30,28);
	background: linear-gradient(207deg, rgba(32,30,28,1) 21%, rgba(247,147,26,1) 100%);
}


.header__logo{
	width:150px ;
	height: 240px;
	margin-top: 60px;
	align-self: center;
}

.header__titleContainer{
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 40px;
	text-align: center;
	align-self: center;
}

.header__title{
	color: white;

}

.header__subTitle{
	color: white;
	margin-top: 20px;
}


.header__button{
	color: #201e1c;
	font-size: .75rem;
	width: 65%;
	padding: .75rem;
	background-color: #fff; 
	box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.35);

	position: relative;
	top: .75rem;

	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}


.main{
	width: 100%;
	min-width: 320px;

}


.main__1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}


.main__img{
	width: 200px;
	height: 200px;
	background-image: url(assets/img/Bitcoin.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 50px;
}


.main__1>h2 {
	margin: 0px 10px 10px 10px;
	text-align: center;

}

.main__1>p {
	margin: 0px 10px 10px 10px;
	text-align: center;

}





.tables {
	width: 100%;
	min-width: 320px;
}

.tables__container {
	margin-top: 30px;
	margin-bottom:30px; 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tables__title{
	color: #f7931a;
	font-size: 1rem;
	position: relative;
	right: 60px;
	margin-bottom: 20px;
}


.tables__title--blue {
	color: rgba(50,90,255,0.5);
	font-size: 1rem;
	position: relative;
	right: 60px;
	margin-bottom: 20px;
}


.tables__container-x {
	width: 100%
	height: 400px;
	padding: 50px;
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x proximity;
	overscroll-behavior-x: contain;
}

.tables__table {
	width: 70%;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	margin-left:  25px;
	margin-right: 25px; 
	margin-bottom: 20px;
	font-size: 1rem;
	border-radius: 5px;
	scroll-snap-align: center;
}


.tables__table__tr {
	height: 50px;
}

.tables__lastUpdate {
	width: 250px;
	text-align: center;
	font-size: .8rem;
	background-color: rgba(255,0,0,0.35);
	padding: 10px;
	border-radius: 5px;
	margin: 0px 20px;
}

.tables__lastUpdate--blue {
	width: 250px;
	text-align: center;
	font-size: .8rem;
	background-color: rgba(50,90,255,0.35);
	padding: 10px;
	border-radius: 5px;
	margin: 0px 20px;
}







.fuctionCards {
	width: 100%;
	height: auto;
	min-width: 320px;
	background-color: #201e1c; 
}



.fuctionCards{
	width: 100%;
	min-width: 320px;
	padding: 15px; 
}

.fuctionCards__intro{
	text-align: center;
}

.fuctionCards__batataIcon {
	position: relative;
	top: -1.5rem;
}

.fuctionCards__title  {
	color: #fff;
	font-size: 1.25rem;
	padding: 15px 10px;
}

.fuctionCards__parragrahp {
	color: #bababa;
	font-size: .7rem;
	padding: 15px 10px;

}


.fuctionCards__card {
	width: 70%;
	min-width: 290px;
	max-width: 500px;
	height: 100%;
	background-color:#282623;
	border-radius: 5px;
	margin: 0px auto;
	margin-top: 15px;

}


.fuctionCards__card__top-left-icon{
	margin-left: 10px;
	margin-top: 10px;
}

.fuctionCards__card__title {
	color: #fff;
	font-size:1rem;
	padding: 10px 10px;
}

.fuctionCards__card__parragrahp {
	color: #808080;
	font-size: .90rem;
	padding: 10px 10px;
}







.comodity {
	widows: 100%;
	min-width: 320px;
	height: 320px;
	background-image: url(assets/img/bitcoinbaby.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.comodity__h2 {
	color: #fff;
	font-size: .9rem;
}








.offers{
	width: 100%;
	min-width: 320px;
	padding-bottom: 70px;
	text-align: center; 
	background-color: #faf8f7;
}

.offers__title{
	color: #201e1c;
	font-size: 1.35rem;
	padding-top: 50px;
	padding-bottom: 20px;	
}

.offers__parragraph{
	color: #757575;
	font-size: .95rem;
}

.offers__cardSlider {
	display: flex;
	height: 400px;
	overflow-x:  scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}


.offers__card {
	background-color: #fff;
	border-radius: 15px;
	margin: 40px 10px;
	box-shadow: 0px 4px 7.5px rgba(0,0,0,0.1);
	width: 65%;
	min-width: 230px;
	height: 270px;	
	scroll-snap-align: center;
}

.offers__card__paytime {
	font-size: .75rem;
	padding:15px;
	padding-top:35px;
}

.offers__card__paytime-recomended {
	font-size: .75rem;
	padding-bottom: 10px;
}

.offers__card__price {
	font-size: 3rem;
}


.offers__card__plansName {
	font-size: .75rem;
	padding:15px;
}


.offers__card__p{
	color: #757575;
	font-size: .65rem;
	margin-bottom: 10px;
}

.offers__card__btn {
	font-size: .95rem;
	font-weight: bold;
	padding: 15px 20px;
	border: 2px solid #f7931a;
	border-radius: 5px;
	margin: 15px;
}


.offers__card__p-recomended{
	font-size: .75rem;
	color: #fff;
	position: relative;
	left: 60px;
	bottom: 15px;
	background-color: #f7931a;
	border-radius: 10px;
	padding: 12px;
	width: 120px;
	margin: 0px;
}






.footer{
	font-size: .9rem;
	min-width: 320px;
	height: 10rem;
	background-color: #f7931a;
	display: grid;
	grid-template-columns: auto auto;
}


.footer__leftDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.footer__links{
	color: #fff;
	margin-top: 15px;
}


.footer__rightDiv {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}