:root{
	/*  colors */
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #282623;
	--black: #201e1c;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff;

	/* fonts */
	--Dmsans: "DM Sans", sans-serif;
	--inter: "Inter", sans-serif;
}

* { padding:0; margin: 0; box-sizing: border-box; }

body {
	font-size: 62.5%;
	font-family: "DM Sans", sans-serif;
}

.header{
	text-align: center;
	background: rgb(32,30,28);
	background: linear-gradient(16deg, rgba(32,30,28,1) 21%, rgba(247,147,26,1) 100%);
}

.header__div-h1{
	color: white;
}

.header__div-p{
	color: white;
}
